a {
    font-family: 'Lato', sans-serif;
    color: #3E5959;
    font-weight: bold;
    text-decoration: none;
}

.nav-container {
    display: none;
}

.logo-img {
    width: 80px;
    max-width: 100;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-container {
    display: flex;
    align-content: center;
    flex-direction: column;

    margin-top: 20px;
}

/* button {
    padding: 1rem 0;
    width: 200px;
    font-size: 0.9rem;
    margin: 1rem;
} */

.btn-border{
    max-width: 100%;
    padding: 0.9rem;
    border: 2px solid #93BF00;
    border-radius: 30px;
    background: transparent;
    width: 150px;
    /* margin: 0; */
}



.btn {
    width: 150px;
    padding: 1rem;
    background: #93BF00;
    border: 2px solid #93BF00;
    border-radius: 5px;
    border: none;
    margin-left: 0;
    color: #fff;
    font-weight: bolder;
    font-size: 1rem;
}

.btn-1 {
    background: transparent;
    border: 2px solid #deecf1;
    color: #3E5959;
    margin-right: 10px;
}

.btn-2 {
    background: #93BF00;
    border: 2px solid #93BF00;
    color: #deecf1;;
}

ul li {
    display: inline-block;
    padding: 0 1rem;
}

.nav{

    flex-direction: row;
    margin-top: none;
    margin-left: auto;
    align-items: baseline;
}
.nav nav{
    box-shadow: none;
}
.nav ul li{
    color: white;
    cursor: pointer;
}
.nav .nav-non-link{
    padding: 0 15px;
}
.nav-non-link:hover{
    border-bottom: 2px solid white;
    background-color: initial;
}
.nav ul li:hover{
    border-bottom: 2px solid white;
    background-color: initial;    
}
.login-modal{
    
    display: none;
    background-color: white;
    width: auto;
    max-width: 568px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    z-index: 100;
    box-sizing: border-box !important;
    padding: 32px !important;
}

#close-modal{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    font-size: 24px;
    background-color: transparent;
    color: #3e5959;
    border: none;

}




#myLinks {
    padding: 1rem;
}

.mobile-content {
    padding: 1rem 1.5rem;
}
  
.links > li {
    padding: 1rem 0;
}
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #3E5959;
    padding: 1.5rem 0;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    line-height: 1.5;
  }

  .links {
    display: flex;
    flex-direction: column;
  }


  /* .mobile-btn {
    padding: 0.2rem 1rem;
    background: #93BF00;
    border-radius: 50px;
    border: none;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  /* .mobile-btn > a {
      color: #fff;
  } */
  

  .icon {
    position: absolute;
    right: 0;
    top: 10%;
  }

  .hamburger {
        width: 35px;
        height: 5px;
        background-color: #93BF00;
        margin: 6px 0;
      }




@media screen and (min-width: 640px  ){

    
    .btn-container {
        flex-direction: row;
    }

}

@media screen and (min-width: 768px){


    .links {
        flex-direction: row;
    }

    .links > li {               
        padding: 0 1rem;
    }

    .mobile-container {
        display: none;
    }


    .nav {
        flex-direction: row;
        margin-top: none;
        margin-left: auto;
    }

    .nav-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
    }

}




@media screen and (min-width: 900px){


    .logo {
        margin-right: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-border {
        margin-right: 10px;
    }

    .btn-container {
        padding-top: 0;
        margin-top: 0;
        padding-top: 0;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }

}