a {
    font-family: 'Lato', sans-serif;
    color: #3E5959;
    font-weight: bold;
    text-decoration: none;
}

.nav-container {
    display: none;
}

.logo-img {
    width: 100px;
    max-width: 100;

}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-container {
    display: flex;
    align-content: center;
    flex-direction: column;

    margin-top: 20px;
}

button {
    padding: 1rem 0;
    width: 200px;
    font-size: 0.9rem;
    margin: 1rem;
}

.btn-border{
    max-width: 100%;
    padding: 0.9rem;
    border: 2px solid #93BF00;
    border-radius: 30px;
    background: transparent;
    width: 150px;
    margin: 0;
}


.btn {
    max-width: 100%;
    padding: 1rem;
    background: #93BF00;
    border: 2px solid #93BF00;
    border-radius: 30px;
    border: none;
    margin-left: 0;
}

ul li {
    display: inline-block;
    padding: 0 1rem;
}

.nav{
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.nav nav{
    box-shadow: none;
}
.nav ul li{
    color: white;
    cursor: pointer;
}
.nav .nav-non-link{
    padding: 0 15px;
}
.nav-non-link:hover{
    border-bottom: 2px solid white;
    background-color: initial;
}
.nav ul li:hover{
    border-bottom: 2px solid white;
    background-color: initial;    
}
.login-modal{
    display: none;
    background-color: white;
    width: 40%;
    max-width: 568px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    z-index: 100;
    box-sizing: border-box !important;
    padding: 32px !important;
}
#close-modal{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}
.body-modal-show{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow: hidden;
    z-index: 1;
    background-color: #484848;
}
.facebook-login{
    cursor: pointer;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    padding-left: 22px;
    padding-right: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(69, 104, 178);
    border-color: transparent;    
    margin-top: 30px;
    margin-bottom: 8px;
}
.google-login{
    cursor: pointer;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    color: rgb(72, 72, 72);
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(255, 255, 255);
    border-color: rgb(118, 118, 118);
}    
.email-login{
    color: #ffffff;    
    display: inline-block;
    position: relative;
    text-align: center;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    padding-left: 22px;
    padding-right: 22px;
    min-width: 71.1935px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(255, 90, 95);
    border-color: transparent;
}    
.login-modal{
    border: 1px black solid;
    height: 300px;
    width: 400px;
}
.login-modal span{
    margin: 20px 0px;
    display: inline-block;
}
.login-modal .login-text{
    text-align: left;
    overflow-wrap: break-word !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
}
.login-modal .border-rule{
    border-bottom: 1px #EBEBEB solid;
    margin-top: 16px;
    margin-bottom: 16px;    
}
.login-modal .register-form, .login-modal .login-form {
    margin-top: 20px;
}
.login-modal .register-form input, .login-modal .login-form input{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    color: #484848;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: normal;
    background-color: transparent;
    padding-left: 11px;
    padding-right: 11px;
    width: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-radius: 4px !important;    
}
.login-modal .register-form input::-webkit-input-placeholder, .login-modal .login-form input::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
    color: #484848;
}

.sign-up-button{
    display: inline-block !important;
    position: relative !important;
    text-align: center !important;
    transition-property: background, border-color, color !important;
    transition-duration: 0.2s !important;
    transition-timing-function: ease-out !important;
    cursor: pointer !important;
    width: 100% !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    min-width: 71.1935px !important;
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
    margin: 0px !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    background: rgb(255, 90, 95) !important;
    border-color: transparent !important;
}


.mobile-container {
    padding: 1rem 1.5rem;
}
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #3E5959;
    padding: 1.5rem 0;
    text-decoration: none;
    font-size: 1.1rem;
    display: block;
    line-height: 1.5;
  }


  .mobile-btn {
    padding: 0.2rem 1rem;
    background: #93BF00;
    border-radius: 50px;
    border: none;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-btn > a {
      color: #fff;
  }
  

  .icon {
    position: absolute;
    right: 0;
    top: 10%;
  }

  .hamburger {
        width: 35px;
        height: 5px;
        background-color: #93BF00;
        margin: 6px 0;
      }




@media screen and (min-width: 640px  ){

    
    
    .btn-container {
        flex-direction: row;
    }

    .nav {
        flex-direction: row;
        margin-top: none;
        margin-left: auto;
    }

    .nav-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 0;
    }

}




@media screen and (min-width: 900px){

    .mobile-container {
        display: none;
    }




    .logo {
        margin-right: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-border {
        margin-right: 10px;
    }

    .btn-container {
        padding-top: 0;
        margin-top: 0;
    }

}