.home .upper-fold{
    height: 100vh !important;
    background-image: url(https://image.freepik.com/free-photo/cascade-park-landscape-clean-beautiful_1417-66.jpg);
    background-size: cover;
}

.row .col.s12{
    padding: 0;
}