h2 {
    color: #93BF00;
}

.main {
    display: flex;
    align-content: center;
    padding-top: 100px;
    
}

.main-container {
    width: 80%;
    margin: auto;
}

.left {
    margin-right: auto;
    text-align: left;
    padding-bottom: 1rem;
}

.title {
    font-size: 3rem;
}

.info {
    width: 90%;
    line-height: 1.5;
}


img {
    width: 90%;
    max-width: 100%;
}

.img-right {
    display: none;
}

.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    background: #93BF00;
    padding: 2rem 3rem;
}

@media screen and (min-width: 640px  ){

    .main {
        padding-top: 100px;
    }

    .left {
        padding-left: 50px;
    }
}

@media screen and (min-width: 1024px) {

    .info {
        padding-top: 20px;
        width: 60%;
    }

    .info > a {
        margin-top:1rem;
        display: block;
    }

    .img-right {
        display: block;
        margin: auto;
    }
}