/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3e5959;
}

code {
  font-family: 'Lato', sans-serif;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
} */
